body {
    font-size: 200%;
    background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}

div {
    text-align: center
}

h1 {
    color: white
}

p {
    font-family: "Courier New", Courier, monospace;
    color: #87CEFA
}

li {
    font-family: "Courier New", Courier, monospace;
    list-style-type: none;
    color: #87CEFA
} 

a {
    color: #87CEFA;
    text-decoration: none
}
a:hover {
    color: white;
}
